.preview{
    display: flex;
    align-items: center;
    margin: 3px 0;
}
.form-inp{
    background-color:#494e53;
}
.preview-image{
    width: 75px;
    margin-right: 8px;
}
.modal-header{
    border-bottom: 1px solid #494e53;
}
.post-content{
    background-color: #494e53
}
.post-content:focus{
    background-color: #252a30;
    color: rgb(168, 168, 168);
}
.post{
    color: white;
}
.select{
    color: white;
    background-color: #252a30;
}
.story{
    cursor: pointer;
}

.story:hover {
    opacity: 0.8;
}

.story-text{
    background-color: black;
    color:white;
    text-align:center;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: blur(1px);
}

.carousel-text {
    font-weight: 700;
    font-size: 2em;
    bottom: 37%;
}
.post__comment .accordion-button::after {
    margin-left: 0 !important;
    display: none !important;
}

.post__comment .accordion-button:hover {
    background: transparent !important;
    border-color: transparent !important;
}

.post__comment .accordion-button:not(.collapsed) {
    background: transparent !important;
}

.post__comment .accordion-button:not(.collapsed) {
    box-shadow: none !important;
}
.fs-0 {
    font-size: 4rem;
}

.fs-7 {
    font-size: 0.8rem;
}
.dropdown-item:active {
    background-color: #d5d5d5 !important;
}
.pointer{
    cursor: pointer;
}


.grid {
width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 2px;
  grid-auto-rows: min-max(80px, auto);
  grid-auto-flow: dense;
}
.card {
    min-height: 100px;
    background-size: cover;
    background-position: 50% 50%;
}
.react:hover{
    background-color: #121518;
}
.span-2 {
    grid-column-end: span 2;
    height: 200px;
}
.comment{
    background-color: #181b1e;
    padding: 0.5rem;
    border-radius: 1rem;
}
.span-3 {
    grid-column-end: span 3;
    grid-row-end: span 3;
    height: 400px;
}
.react-info{
    padding: 10px 3px;
    cursor: pointer;
    border-radius: 5px;
}
.react-info svg{
    font-size: 23px;
}
.action:active{
    background-color: #121518!important;
}
.selected-filter{
    background-color: #181b1e;
    padding: 8px;
    border-radius: 5px;
}
